.formulario {
    background: red;
    padding: 10px 50px;
}

.formulario_input {
    padding: 6 px 10px;
    width: 100%;
    background: white;
    color: red;

}

.formulario_submit {
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: red;
    color: white;
    width: 50%;
}

    {}

    {}

    {}

    {}

    {}

    {}